#circle
    .box
        .minibox
            padding: 80px
            border-radius: 50%
            background-color: #966946
            h1
                font-size: 23px
                font-weight: 600
                color: #ffff