#demo
    .box
        width: 200px
        height: 200px
        padding: 50px
        border: 3px solid #466a4b
        background-color: #7780ac
        transition: 1s
        .minibox
            width: 100px
            height: 100px
            padding: 40px
            background-color: #4d5c87
            h1
                font-size: 19px
                font-weight: 600
                color: #ffff
                