#work
    .box
        // width: 150px
        // height: 65px
        // background-color: #8d4867dc
        .btn
            padding: 10px 75px 55px
            background-color: #8d4867dc
            transition: 1s
            h1
                color: #ffff
                font-size: 19px

        &:hover
            .btn
                padding: 10px 70px 50px
                border: 5px solid #8d4867dc
                background-color: #323232dc
                transition: 1s
                h1
                    color: #ffff
                    font-size: 19px